<nav>
    <ul>
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/about">
            <li>About</li>
        </a>
        <a href="/news">
            <li>Us In The News</li>
        </a>
        <a href="/links">
            <li>Links</li>
        </a>
        <a href="/staff">
            <li>Meet the Staff</li>
        </a>
        <a href="/contact">
            <li>Contact Us</li>
        </a>
    </ul>
</nav>