<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/headlinks.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h2 id="aboutH2">About Us & Services we Offer</h2>
    <div class="aboutBox">
        <ul>
            <a target="_blank" href="#">
                <li>E-waste Recycling Services</li>
            </a>
            <a target="_blank" href="#">
                <li>Store Locator</li>
            </a>
            <a target="_blank" href="#">
                <li>Rewards Program</li>
            </a>
        </ul>

    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>