<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/headlinks.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <div class="mainbox">
        <div class="sidebar">
            <h2>The Shaq is Back!</h2>
            <img src="https://media.tenor.com/xKO1CpkEuxMAAAAM/surprised-sorprendido.gif">
        </div>
        <div class="shop">
            <div id="topPics">
                <img id="pic 1" src="https://i0.wp.com/gotahams.com/wp-content/uploads/2021/10/HAMradio.jpg?w=320&ssl=1">
                        
                <img id="pic 2" src="https://jamaicans.com/wp-content/uploads/2017/01/How-Much-Do-You-Know-about-Jamaica%E2%80%99s-First-Telephone-810x810.jpg">
            </div>
            <div id="bottomPics">
                    <img id="pic 3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Graphophone1901.jpg/220px-Graphophone1901.jpg">
                    <img id = "pic 4" src="https://www.gadgetspeak.com/content/images/tmobile-sidekick-3.jpg">
            </div>
        </div>
    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>